<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoutingPage</title>
    <link rel="stylesheet" type="text/css" href="styleroutepage.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <span></span>
            <div class="content">
            <h2>User</h2>
            <p>Use this card to for User Login and User Registration</p>
            <a href="/userindex">User</a>
            </div>
        </div>

        <div class="box">
            <span></span>
            <div class="content">
            <h2>Professional</h2>
            <p>Use this card to for User Login and User Registration</p>
            <a href="/index">Professional</a>
            </div>
        </div>

    </div>
</body>
</html>